@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
}
p {
  margin: 20px 0;
}
.edit {
  border: 0;
  margin-left: 25px;
  padding: 8px;
  border-radius: 4px;
  color:white;
  background: var(--primary);
  cursor: pointer;
}

.delete {

  border: 0;
  margin-left: 25px;
  padding: 8px;
  border-radius: 4px;
  color:black;
  background: var(--primary);
  cursor: pointer;
}

.add {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color:red;
  background:white;
  cursor: pointer;
}
 

.new-todo{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}



.main-content {
  max-width: 1200px;
  margin: 40px auto;
}


/* contact form */
form {
  margin-top: 30px;
}
form input, form label span, form textarea {
  display: block;
}
form input, form textarea {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  width: 300px;
  color: var(--secondary);
}
form label span {
  margin-bottom: 10px;
}

/*  */
.main-content {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1rem
}

.new-todo {
  margin-bottom: 1rem;
  
}

/* .add {
  padding: 0.5rem;
  margin-left: 0.5rem
} */

/* .todo-list {
  list-style: 'none';
  padding: 0
} */



/* #span{
  
    margin-left: 0.5rem,
  
} */
/* .save .edit {
  margin-right: 0.5rem
} */